@import "../../../../styles/global/colours";
@import "../../../../styles/global/mixins";

.select {
  position: relative;
  width: 183px;
  padding: 5px 20px;
  border: 1px solid $gbsGreen;
  cursor: pointer;
  line-height: 1.1;
  position: relative;
  font-size: 12px;
  background-color: $gbsGreenDark;
  // background-image: url("../../../../public/images/dropdown-toggle.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  border-radius: 12px;
  color: $gbsGreen;
}

@include mq($until: tablet) {
  .select {
    width: 170px;
  }
}

.option {
  color: $gbsGreen;
}
