@import "../../../styles/global/colours";

.footer {
  position: fixed;
  bottom: 0;
  left: 320px;
  height: 70px;
  width: calc(100vw - 320px - 30px);
  background-color: $gbsGreenDark;
  z-index: 100;
}

.break {
  border-top: 1px solid $background;
  margin-bottom: 25px;
}
