@import "../global/mixins";

body, 
html,
main, 
.main, 
#__next,
.page,
.wrapper,
.main-section {
  height: 100%;
}

body {
  overflow: hidden;
}

@media screen and (max-height: 800px) {
  .main-section {
    > div {
      height: calc(100% - 220px);
    }
  }
}

@media screen and (min-height: 841px) {
  .main-section {
    > div {
      height: calc(100% - 188px);
    }
  }
}


html,
body {
  width: 100%;
  background-color: $gbsGreenDark;
  position: fixed;
  font-family: 'Montserrat', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


html {
  max-width: 100%;
  height: 100%;
}

.wrapper {
  background-color: $gbsGreenDark;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}


.header__left-side {
  display: flex;
  align-items: center;
}

.back-button {
  margin-right: 17px;
}

section {
  width: 100%;
  padding-right: 50px;
  padding-right: 0;
  height: 100%;

  > div {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 3px;
    height: calc(100% - 190px)
  }

  .section {
    &_left,
    &_right {
      height: 100%;
      width: 100%;

      .header {
        h1 {
          display: none;
          color: $white;
        }

        .hide_variables {
          display: none;
          transform: translateY(25%);
        }

        .show_variables {
          display: block;
          transform: translateY(25%);
        }

        .filters {
          position: absolute;
          bottom: 20px;
          left: 20px;
          z-index: 999;
          display: flex;
          right: 20px;

          .toggle {
            margin: auto;
            margin-right: 20px;
          }

          .dropdown {
            width: 80px;
            position: relative;
          }
        }
      }
      .panel {
        margin-top: 3px;
        height: 100%;

        &_left {
          background-color: $white;
          border-radius: 20px;
          > div {
            padding: 10px;
            background-color: $white;
          }
        }
        &_right {
          table {
            width: 100%;
            border-radius: 20px;
            background-color: $white;

            thead {
              position: sticky;
              top: 0;
              border-bottom: 0;
              box-shadow: 0 1px 0 $gbsGreen;
              background: white;
              z-index: 3;

              &:before {
                content: '';
                background: transparent;
                position: absolute;
                right: 0;
                height: 100%;
                width: 25px;
                border-top-right-radius: 20px;
                box-shadow: 0 -25px 0 $gbsGreenDark;
                pointer-events: none;
              }

              &:after {
                content: '';
                background: $gbsGreenDark;
                width: 50%;
                height: 100%;
                right: 0;
                transform: translateX(100%);
                top: 0;
                display: none;
              }
            }
          }
        }

        .panel_panel {
          overflow: scroll;
        }
      }
    }

    &_left {
      flex: none;
      display: none;
    }

    &_right {
      flex: none;
      padding-right: 0;
    }
  }
}

button {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 16.34px;
  padding: 0;
}

select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1rem;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  display: grid;
}

//Variables toggle
@include mq($until: desktop) {
  .main.variables_open {
    section .section {
      &_left {
        display: block;
      }

      &_right {
        .header h1,
        .panel,
        .show_variables {
          display: none;
        }

        .hide_variables {
          display: block;
        }
      }
    }
  }
}


@include mq($from: tablet) {
  .main-section {
    > div {
      height: calc(100% - 145px);
    }
  }

  .main {
    flex-direction: row;
  }

  section {
    > div {
      width: calc(100% - 17px);
      padding-left: 20px;
    }

    .section {
      &_left, 
      &_right {
        .header {
          display: flex;
          margin-top: 15px;
          vertical-align: middle;

            h1 {
              margin-left: 60px;
              display: block;
            }

            .filters {
              margin-left: 5%;
              position: static;
              bottom: 0;
              left: 0;
              
              > svg {
                left: 110px;
                position: absolute;
              }
            }
          }

        .panel {
          margin-top: 28px;

          &_left {
            background-color: transparent;
          }
        }
      }
    }
  }
}

@include mq($from: desktop) {
  section {
    .section {
      &_left {
        flex: 0 1 43%;
        display: block;
        padding: 10px;
      }

      &_right {
        flex: 0 2 57%;
        padding: 10px;

        .panel {
          table {
            thead {
              &:after {
                content: '';
                position: absolute;
                display: block;
              }
            } 
          }
        }

        .header {
          h1 {
            margin-left: 10px;
          }

          .filters {
            svg {
              display: none;
            }
          }
        }
      }
    }
  }
}

//If screen is desktop width but shorter than a tablet
@media screen and (min-width: 740px) and (max-width: 980px) and (max-height: 900px) {
  .main {
    flex-direction: column;
  }

  .main-section {
    > div {
      width: calc(100% - 17px);
      padding-left: 20px;
      height: calc(100% - 220px);
    }

    .section {
      &_right,
      &_left {
        .header {
          h1 {
            margin-left: 60px;
          }

          .filters {
            > svg {
              left: 36px;
            }
          }
        }
      }
    }
  }
}

@include mq($from: wide) {
  section {
    width: calc(100vw - 200px);
    .section {
      &_left {
        display: block;
        padding: 10px;
      }

      &_right {
        .header {
          .filters {
            svg {
              display: none;
            }
          }
        }

         .panel_right {
          table {
            width: calc(100% - 120px);
          }
        }
      }
    }
  }
}

@include mq($from: extra-wide) {
  section {
    .section {
      &_left {
        flex: 0 0 30%;
        display: block;
      }

      &_right {
        flex: 0 0 70%;
      }
    }
  }
}
