@import "../global/mixins";

html,
body {
  min-height: 100%;
  width: 100%;
  background-color: $gbsGreenDark;
  position: fixed;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

body {
  height: auto;
}

html {
  max-width: 100%;
}

.wrapper {
  background-color: $gbsGreenDark;
}

.main {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
}

section {
  display: flex;
  width: 100%;
  padding-right: 50px;
  padding-right: 0;

  > div {
    display: flex;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 3px;
  }

  .section {
    &_left,
    &_right {
      height: 100%;
      width: 100%;

      .header {
        h1 {
          display: none;
        }

        .filters {
          position: absolute;
          bottom: 20px;
          left: 20px;
          z-index: 999;
          display: flex;
          right: 20px;

          .toggle {
            margin: auto;
            margin-right: 20px;
          }

          .dropdown {
            width: 80px;
            position: relative;
          }
        }
      }
      .panel {
        margin-top: 25px;

        &_left {
          background-color: $white;
          border-radius: 20px;
          > div {
            padding: 10px;
          }
        }
        &_right {
          table {
            width: 100%;
            border-radius: 20px;
            background-color: $white;
          }
        }

        .panel_panel {
          overflow: scroll;
        }
      }
    }

    &_left {
      flex: none;
      display: none;
    }

    &_right {
      flex: none;
      padding-right: 0;
    }
  }
}

button {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 16.34px;
  padding: 0;
}

select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1rem;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  display: grid;
}


@include mq($from: tablet) {
  .main {
    flex-direction: row;
  }
  section {
    > div {
      width: calc(100% - 17px);
      padding-left: 20px;
    }

    .section {
      &_left, 
      &_right {
        .header {
          display: flex;
          margin-top: 10px;
          vertical-align: middle;

          .filters {
            margin-left: 5%;
            position: static;
            bottom: 0;
            left: 0;

            svg {
              position: absolute;
              left: 36px;
            }
          }

          h1 {
            display: block;
          }
        }
      }
    }
  }
}

@include mq($from: desktop) {
  section {
    .section {
      &_left {
        flex: 0 1 43%;
        display: block;
        padding: 10px;
      }

      &_right {
        flex: 0 2 57%;
        padding: 10px;
      }

      &_right {

        .header {
          .filters {
            svg {
              display: none;
            }
          }
        }
      }
    }
  }
}

@include mq($from: wide) {
  section {
    width: calc(100vw - 200px);
    .section {
      &_left {
        display: block;
        padding: 10px;
      }

      &_right {
        .header {
          .filters {
            svg {
              display: none;
            }
          }
        }

         .panel_right {
          table {
            width: calc(100% - 120px);
          }
        }
      }
    }
  }
}

@include mq($from: extra-wide) {
  section {
    .section {
      &_left {
        flex: 0 0 30%;
        display: block;
      }

      &_right {
        flex: 0 0 70%;
      }
    }
  }
}
