@import "../../../styles/global/colours";
@import "../../../styles/global/mixins";

.sidebar {
  position: relative;
  width: 100%;
  height: 72px;
  background-color: $background;

  // &_inner {

  // }

  aside {
    display: flex;
  }

  &_tab {
    position: relative;
    min-height: 100%;
    background-color: $gbsGreenDark;
    border-top-left-radius: 20px;

    > div {
      padding: 20px;

      * {
        color: $white;
      }

      h2 {
        font-size: 17px;
      }
    }

    &:first-of-type {
      flex: 0 0 80%;

      &:after {
        content: '';
        width: 31%;
        height: 100%;
        top: 0;
        right: -30%;
        position: absolute;
        background-color: $gbsGreenDark;
      }
    }

    &:nth-of-type(2) {
      flex: 0 0 20%;
      max-width: 75px;
      background-color: $gbsGreenLight;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      margin-top: 3px;

      &:after {
        content: '';
        background-color: $gbsGreenLight;
        width:101%;
        height: 100%;
        position: absolute;
        right: -100%;
        top: 0;
        z-index: 0;
      }
    }
  }

  &_socials {
    position: fixed;
    bottom: 20px;
    height: 80px;
    width: 180px;
    display: none;
  }
}

@include mq($from: tablet) {
  .sidebar {
    width: 72px;
    height: 100vh;
    padding: 0 0px 0 20px;

    aside {
      display: block;
    }

    &_tab {
      position: relative;
      min-height: 136px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;

      > div {
        padding: 22px 15px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);

        * {
          color: $white;
        }

        h2 {
          font-size: 17px;
        }
      }

      &:first-of-type {
        padding-top: 70px;
      }

      &:first-of-type, 
      &:nth-of-type(2) {
        margin-top: 0;
        &:after {
          content: "";
          position: absolute;
          background-color: $background;
          bottom: -100%;
          right: 0;
          top: auto;
          height: 100%;
          width: 25px;
          border-top-right-radius: 25px;
          box-shadow: 0 -25px 0 $gbsGreenDark;
        }
    }

      &:nth-of-type(2) {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        max-width: 100%;

        &:after {
          content: "";
          position: absolute;
          background-color: $background;
          right: 0;
          height: 100%;
          width: 25px;
          border-top-right-radius: 25px;
          box-shadow: 0 -25px 0 $gbsGreenLight;
        }
      }
    }

    &_socials {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }
}

@include mq($from: desktop) {
  .sidebar {
    width: 300px;
    height: 100vh;
    padding: 0 0px 0 20px;

    &_tab {
      > div {
          writing-mode: horizontal-tb;
          transform: none;

        h2 {
          font-size: 17px;
          writing-mode: horizontal-tb;
          transform: none;
        }
      }

      &:first-of-type {
        padding-top: 0;
      }

      &:nth-of-type(2) {
        background-color: $gbsGreen;
        &:after {
          box-shadow: 0 -25px 0 $gbsGreen;
        }
      }

    }

    &_socials {
      flex-direction: row;
    }
  }
}
