@import "../../../styles/global/colours";
@import "../../../styles/global/mixins";

.sidebar {
  position: relative;
  width: 100%;
  height: 63px;
  background-color: $background;

  aside {
    display: flex;
  }

  &_logo {
    display: none;
  }

  &_tab {
    position: relative;
    min-height: 100%;
    background-color: $gbsGreenDark;
    border-top-left-radius: 20px;

    > div {
      padding: 20px;
      position: relative;
      z-index: 3;
      display: flex;

      * {
        color: $white;
      }

    }

    &:first-of-type {
      flex: 0 0 80%;

      &:after {
        content: '';
        width: 31%;
        height: 100%;
        top: 0;
        right: -30%;
        position: absolute;
        background-color: $gbsGreenDark;
      }
    }

    &:nth-of-type(2) {
      flex: 0 0 20%;
      max-width: 63px;
      height: 63px;
      background-color: $gbsGreen;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      margin-top: 3px;

      &:after {
        content: '';
        background-color: $gbsGreen;
        width:140%;
        height: 100%;
        position: absolute;
        right: -135%;
        top: 0;
        z-index: 0;
      }
    }

    &:nth-of-type(3) {
      background-color: $gbsGreenLight;

      &:after {
        content: '';
        background-color: $gbsGreenLight;
        width:140%;
        height: 100%;
        position: absolute;
        right: -135%;
        top: 0;
        z-index: 0;
      }
    }
  }

  &_tour_type_desktop {
    display: none;
  }


  &_tournament_name {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 3px;
  }

  &_tour_type_mobile, 
  &_updated {
    font-size: 10px;
  }

  &_tour_type_mobile {
    margin-right: 9px;
  }

  &_date, 
  &_location {
    display: none;
  }

  &_socials {
    position: absolute;
    bottom: 84px;
    width: calc(100% - 43px);
    display: none;
    align-items: center;
  }

    &_tab_live {
    .sidebar_tab_left {
      margin-right: 10px;
    }
  }
}

@include mq($from: tablet) {
  .sidebar {
    min-width: 72px;
    width: auto;
    height: 100vh;
    padding: 0 0px 0 20px;

    aside {
      display: block;
    }

    &_tab {
      position: relative;
      min-height: 136px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;      
      margin-top: 0;

      > div {
        padding: 22px 15px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);

        * {
          color: $white;
        }
      }

      &:first-of-type {
        padding-top: 70px;

        &:after {
          top: 100%;
          right: 0;
          height: 50px;
        }
      }

      &:after {
        content: "";
        position: absolute;
        background-color: $background;
        top: 100%;
        right: 0;
        top: 100%;
        height: 50px;
        width: 25px;
        border-top-right-radius: 25px;
        box-shadow: 0 -25px 0 $gbsGreenDark;
      }

      &:nth-of-type(2) {
        &:after {
          box-shadow: 0 -25px 0 $gbsGreen;
        }
      }

      &:nth-of-type(3) {
        &:after {
          box-shadow: 0 -25px 0 $gbsGreenLight;
        }
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        max-width: 100%;
        margin-top: 0;
        height: auto;

        &:after {
          content: "";
          position: absolute;
          background-color: $background;
          right: 0;
          top: 100%;
          height: 50px;
          width: 25px;
          border-top-right-radius: 25px;
        }
      }
    }


    &_tab_live {
      .sidebar_tab_left {
        height: 47px;
        margin-right: 0;

        svg {
          transform: rotate(90deg);
          transform-origin: bottom;
        }
      }

      .sidebar_tab_right {
        margin-top: 10px;
      }
    }


    &_tournament_name {
      margin-left: 3px;
      max-height: 190px;
      font-size: 14px;
    }

    &_tour_type_mobile {
      margin-bottom: 9px;
    }

    &_socials {
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;

      svg {
        margin-bottom: 50%;
      }
    }
  }
}

@include mq($from: desktop) {
  .sidebar {
    width: 300px;
    height: 100vh;
    padding: 0 0px 0 20px;

    &_logo {
      display: block;
      margin-bottom: 10px;
    }

    &_tab {
      > div {
          writing-mode: horizontal-tb;
          transform: none;

        p {
          font-weight: 400;
        }
      }

      &:first-of-type {
        padding-top: 0;

        &:after {
          top: 100%;
          right: 0;
          height:50px;
        }
      }

      &:nth-of-type(2) {
        background-color: $gbsGreen;
        margin-top: 0;
        &:after {
          box-shadow: 0 -25px 0 $gbsGreen;
          top: 100%;
        }
      }

      &:nth-of-type(3) {
        background-color: $gbsGreenLight;
        &:after {
          box-shadow: 0 -25px 0 $gbsGreenLight;
          top: 100%;
        }
      }

    }

    &_tab_left {
      margin-right: 20px;
      flex-grow: 1;
    }

    &_tab_right {
      flex-grow: 0;
      flex-shrink: 10;
    }

    &_tab_live {
      .sidebar_tab_left {
        height: auto;
        margin-right: 20px;

        svg {
          transform: none;
        }
      }

      .sidebar_tab_right {
        margin-top: 0;
      }
    }

    &_tour_type_desktop {
      display: block;
    }

    &_tour_type_mobile {
      display: none;
    }

    &_tour_type_desktop,
    &_updated {
      font-size: 12px;
      line-height: 14.5px;
    }

    &_updated {
      margin-bottom: 15px;
    }

    &_tournament_name {
      font-size: 17px;
      font-weight: bold;
      writing-mode: horizontal-tb;
      transform: none;
      line-height: 20.8px;
      margin-bottom: 3px;
      margin-left: 0;
    }

    &_date,
    &_location {
      display: block;
      font-size: 10px;
      line-height: 10px;
    }

    &_date {
      margin-bottom: 5px;
    }

    &_socials {
      flex-direction: row;

      svg {
        margin-bottom: 0;
      }
    }
  }
}


//Hide socials when screen is too small
@media screen and (min-width: 740px) and (max-height: 1110px) {
  .sidebar {
    &_socials {
      display: none;
    }
  }
}

@media screen and (min-width: 740px) and (min-height: 1111px) {
  .sidebar {
    &_socials {
      display: flex;
    }
  }
}

@media screen and (min-width: 980px) and (max-height: 730px) {
  .sidebar {
    &_socials {
      display: none;
    }
  }
}

@media screen and (min-width: 980px) and (min-height: 731px) {
  .sidebar {
    &_socials {
      display: flex;
    }
  }
}

//Adjusted heights for hiding socials when only two tabs
.sidebar.sidebar_2_tabs {
    @media screen and (min-width: 740px) and (max-height: 800px) {
      .sidebar {
        &_socials {
          display: none;
        }
      }
    }

  @media screen and (min-width: 740px) and (min-height: 801px) {
    .sidebar {
      &_socials {
        display: flex;
      }
    }
  }

  @media screen and (min-width: 980px) and (max-height: 530px) {
    .sidebar {
      &_socials {
        display: none;
      }
    }
  }

  @media screen and (min-width: 980px) and (min-height: 531px) {
    .sidebar {
      &_socials {
        display: flex;
      }
    }
  }

}



//Desktop screens that are too short to show 3 tabs down the side
@media screen and (min-width: 740px) and (max-width: 980px) and (max-height: 900px) {
  .sidebar {
    position: relative;
    width: 100%;
    min-height: 63px;
    height: auto;
    padding-left: 0;
    background-color: $background;


    aside {
      display: flex;
    }

    &_tab {
      position: relative;
      height: auto;
      min-height: 73px;
      background-color: $gbsGreenDark;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0;

      > div {
        padding: 20px;
        position: relative;
        z-index: 3;
        writing-mode: horizontal-tb;
        transform: none;

        * {
          color: $white;
        }
      }


      &:first-of-type,
      &:nth-of-type(2),
      &:nth-of-type(3) {
        flex: 0 0 33.33%;
        height: auto;
      }

      &:first-of-type {
        padding-top: 0;

        &:after {
          content: "";
          position: absolute;
          background-color: transparent;
          right: -25px;
          top: -25px;
          height: 100%;
          width: 27px;
          border-radius:0 ;
          box-shadow: 0 25px 0 $gbsGreenDark;
        }
      }
        
      &:nth-of-type(2) {
        &:after {
          content: "";
          position: absolute;
          background-color: transparent;
          right: -25px;
          top: -25px;
          height: 100%;
          width: 27px;
          border-radius:0 ;
          box-shadow: 0 25px 0 $gbsGreen;
        }
      }

      &:nth-of-type(3) {
        &:after {
          display:none;
        }
      }
    }

    &_2_tabs {
      .sidebar_tab:nth-of-type(2) {
        &:after {
          display: none;
        }
      }
    }

    &_tab_live {
      .sidebar_tab_left {
        margin-right: 10px;
        height: auto;

        svg {
          transform: none;
        }
      }

      .sidebar_tab_right {
        margin-top: 0;
      }
    }

    &_date, 
    &_location {
      display: none;
    }

    &_tour_type_desktop {
      display: none;
    }

    &_tour_type_mobile, 
    &_updated {
      font-size: 10px;
      margin-bottom: 0;
      display: inline-block;
    }

    &_tour_type_mobile {
      margin-right: 7px;
    }

    &_tournament_name {
      font-size: 12px;
      margin-bottom: 3px;
      margin-left: 0;
    }

    &_socials {
      display: none;
    }
  }

}
