@import "../../../../styles/global/colours";
@import "../../../../styles/global/mixins";

.container {
  width: 150px;
  height: 6px;
  margin-left: 20px;
}
.horizontalSlider {
  position: relative;
  max-width: 200px;
  margin: auto;

  .thumb {
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 100;
    border: 7px solid $gbsGreenDark;
    border-radius: 100%;
    display: block;
    top: -5px;
  }

  .track {
    background: $white;
    top: 0px;
    height: 4px;
  }
}

.value {
  position: absolute;
  top: -12px;
  left: -25px;
}

@media screen and (max-width: 550px) {
  .horizontalSlider {
    max-width: 100px;
  }
}

@media screen and (min-width: 550px) {
  .horizontalSlider {
    max-width: 80px;
  }
}

@media screen and (min-width: 990px) {
  .horizontalSlider {
    max-width: 200px;
  }
}
