@import "../../../styles/global/colours";
@import "../../../styles/global/mixins";

.header {
  height: 73px;
  background-color: $background;
  position: relative;


  &_inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: calc(100% - 30px);
    background-color: $background;
    border-bottom-right-radius: 20px;
    padding: 33px 30px 0 20px;
    position: relative;
    z-index: 3;

    // &:after {
    //   content: '';
    //   position: absolute;
    //   width: 30%;
    //   right: -30%;
    //   height: 105%;
    //   background-color: $gbsGreenDark;
    // }
  }

  svg {
    transform: translateY(-40%);
  }

  &_span {
    margin-bottom: 22px;
    display: none;
  }

  &:after {
    content: '';
    width: 52px;
    height: 102%;
    right: 0;
    top: 0;
    background-color: $gbsGreenDark;
    position: absolute;
    border-right: 1px solid $gbsGreenDark;
  }
}

@include mq($from: tablet) {
  .header {
    height: 70px;
    &_span {
      display: block;
    }
    &_inner {
      padding-top: 18px;
    }

    svg {
      transform: none;
    }
  }
}

