@import "../../../styles/global/colours";
@import "../../../styles/global/mixins";

.header {
  height: 73px;
  background-color: $background;
  position: relative;

  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
    width: calc(100% - 3px);
    background-color: $background;
    border-bottom-right-radius: 20px;
    padding: 0 30px 0 20px;
    position: relative;
    z-index: 3;

    // &:after {
    //   content: '';
    //   position: absolute;
    //   width: 30%;
    //   right: -30%;
    //   height: 105%;
    //   background-color: $gbsGreenDark;
    // }
  }

  &_span {
    display: none;
  }

  &:after {
    content: "";
    width: 52px;
    height: 102%;
    right: 0;
    top: 0;
    background-color: $gbsGreenDarkest;
    position: absolute;
    border-right: 1px solid $gbsGreenDarkest;
  }
}

@include mq($from: tablet) {
  .header {
    height: 70px;
    &_inner {
      height: 70px;
      width: calc(100% - 30px);
    }
    &_span {
      display: block;
    }
  }
}

//Desktop screens that are too short to show 3 tabs down the side
@media screen and (min-width: 740px) and (max-width: 980px) and (max-height: 900px) {
  .header {
    &:after {
      display: none;
    }
  }
}
