@import "../../../styles/global/_colours";
@import "../../../styles/global/_mixins";

.panel {
  position: relative;
  width: 100%;
  border-radius: 20px;
  z-index: 98;
  height: calc(100% - 10px);
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: none;
}

@include mq($from: tablet) {
  .panel {
    height: calc(100% - 10px);
  }
}

@include mq($from: desktop) {
  .panel {
    height: calc(100% - 80px);
  }
}
