@import "../../../styles/global/_colours";
@import "../../../styles/global/_mixins";

.panel {
  position: relative;
  width: 100%;
  border-radius: 20px;
  z-index: 98;
  height: calc(100vh - 340px);
}

@include mq($from: tablet) {
  .panel {
    height:calc(100vh - 230px);
  }
}
