@import "../../../styles/global/colours";
@import "../../../styles/global/mixins";

.table {
  position: relative;
  width: 100%;
  height: 100%;
}

.tableHead {
  position: relative;
  height: 67px;
  text-align: center;
  vertical-align: middle;
  line-height: 67px;
  border-bottom: 1px solid $gbsGreen;
}

.tableBody {
  width: 100%;
}

.tableRow {
  height: 38px;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;

  > tr {
    &:first-of-type {
      padding-left: 0;
    }
  }
  > tr {
    &:last-of-type {
      padding-right: 0;
    }
  }
}

//Bookmaker images
$bookmakers: '888_sport', 'bet_365', 'ladbrokes', 'betfair', 'coral', 'william_hill';

@each $bookmaker in $bookmakers {
  .tableRow.tableRow_#{$bookmaker} {
    .tableData {
      &:last-child {
        a {
          background-image: url('/images/' + #{$bookmaker} + '.svg');
        }
      }
    }
  }
}

.tableData {
  border-radius: 20px;
  padding: 5px 10px 5px 10px;

  &:last-child {
    a {
      border: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
      border-radius: 0;

      span {
        display: none; 
      }
    }
  }
}

@include mq($from: wide) {
  .tableData {
    &:last-child {
      display: flex;
      position: absolute;
      margin-top: 5px;
      right: -120px;
      height: 33px;
      width: 120px;
      padding: 0;
      border-left: 1px solid $gbsGreenDark;

      a {
        border: 1px solid $gbsGreen;
        border-left: none;
        background-color: transparent;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background-size: 33px 33px;
        background-position: left;

        span {
          display: block;
          position: relative;
          left: 5px;
          line-height: 2.6;
        }
      }
    }
  }
}

.cellSlider {
  vertical-align: middle;
  padding-left: 20px;
}
