@import "../../../styles/global/colours";
@import "../../../styles/global/mixins";

.table {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 300ms;
}

.tableHead {
  position: relative;
  height: 67px;
  text-align: center;
  vertical-align: middle;
  line-height: 67px;
  border-bottom: 1px solid $gbsGreen;
}

.sortHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;

  > span {
    margin-right: 5px;
  }

  .asc {
    margin-top: -3px;

    > svg {
      transform: rotate(0deg);
    }
  }

  .desc {
    margin-top: -3px;

    > svg {
      transform: rotate(180deg);
    }
  }
}

.tableBody {
  width: 100%;
  transition: all 300ms;
}

.tableRow {
  height: 38px;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;

  &:nth-child(odd) {
    background: $gbsGreenLightest;
  }
  > tr {
    &:first-of-type {
      padding-left: 0;
    }
  }
  > tr {
    &:last-of-type {
      padding-right: 0;
    }
  }
}

.tableData {
  &:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:last-child {
    padding-right: 10px;
  }
  > span {
    line-height: 1.5;
  }

  &:nth-child(2) {
    width: 0;
    padding: 0;
  }

  &:last-child {
    a {
      border: 0;
      background-repeat: no-repeat;

      span {
        display: none;
      }
    }
  }
}

@include mq($until: tablet) {
  .tableData {
    &:first-child {
      padding: 0;
    }
    &:nth-child(3) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:nth-child(4) {
      width: 5%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@include mq($from: desktop) {
  .tableHead {
    > tr > th {
      &:last-child {
        display: none;
      }
    }
  }
  .tableRow {
    > tr {
      &:last-of-type {
        display: none;
      }
    }
  }
  .tableData {
    &:first-child {
      width: 10%;
    }

    &:nth-child(2) {
      width: 20%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@include mq($from: wide) {
  .tableData {
    &:nth-child(2) {
      width: 35%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:last-child {
      display: flex;
      position: absolute;
      margin-top: 5px;
      right: -120px;
      height: 33px;
      width: 120px;
      padding: 0;
      border-left: 1px solid $gbsGreenDark;

      a {
        border: 1px solid $gbsGreen;
        border-left: none;
        background-color: transparent;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background-size: 33px 33px;
        background-position: left;

        span {
          display: block;
          position: relative;
          left: 5px;
          line-height: 2.6;
        }
      }
    }
  }
}

.cellSlider {
  vertical-align: middle;
  padding-left: 20px;
}
