@import "../../../styles/global/colours";

.table {
  position: relative;
  width: 100%;
  background-color: $white;
  height: 100%;
}

.tableHead {
  position: relative;
  height: 67px;
  text-align: center;
  vertical-align: middle;
  line-height: 67px;
  border-bottom: 1px solid $gbsGreen;
}

.tableBody {
  width: 100%;
}

.tableRow {
  height: 38px;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;

  > tr {
    &:first-of-type {
      padding-left: 0;
    }
  }
  > tr {
    &:last-of-type {
      padding-right: 0;
    }
  }
}

.tableData {
  border-radius: 20px;
  &:last-child {
    display: flex;
    position: absolute;
    margin-top: 5px;
    right: -120px;
    height: 40px;
    width: 120px;
    padding: 0;
  }
  padding: 5px 10px 5px 10px;
}

.cellSlider {
  vertical-align: middle;
  margin-left: 20px;
}
